# Template
my_project:
  outputs:
    dev:
      dbname: db
      host: db
      pass: your_db_password
      port: 5432
      schema: dev
      threads: 4
      type: postgres
      user: your_db_username
  target: dev
